
@media (max-width: 562px) {
    .header .option{
          display: none;
    }
    .header .free{
          display: none;
    }
    .header .menu{
         /* display: inline; */
         padding-left: 40%;
    }
    .header .menu button{
          border-style: none;
    }
    .header .menu i{
          height: 25px;
          width: 30px;
    }
    .header .menu p{
          color: #4E5A65;
text-align: center;
font-family: Inter;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: 8px; /* 100% */
    }

    .header .menu .submenu{
          text-align: center;
          width: fit-content;
          height: auto;
          padding: 10px;
          position: absolute;
          right: 10px;
          top: -200px;  
    }
    
    .header .menu .submenu p{
          font-size: 15px;
          border: 1px solid black;
          background-color: #97A5B5;
          padding: 10px; 
    }

    .menu:hover .submenu{
          top: 40px;
    }
    .info1 .save{
          display: none;
    }
    .infol{
          width: 70%;
          font-size: 32px;
          line-height: 40px;
    }
    .infos{
          width: 70%;
    }
    .infomail input{
          width: 80%;
          height: 15%px;
          text-align: center;
          margin: 3%;
    }

    .infomail button{
          width: 80%;
          margin: 3%;
    }

    .graph{
          width: 90%;
          height: 300px;
          margin: auto;
    }

    .info2 .trust{
          font-size: 11px;
          line-height: 11px;
    }
    .info2 .google{
          gap: 5%;
    }

    .info2 .google img{
          width: 15%;
          height: 4%;
    }

    .info2 .google .im-5{
          display: none;
    }

    .main{
          flex-wrap: nowrap;
    }

    .main .review{
          width: 90%;
          margin: auto;
    }
    
    .main .adv{
          width: 80%;
          margin: auto;
          text-align: center
    }

    .main .adv .color{
          margin: auto;
          height: 10px;
          width: 100%;
          background: #794CFF;
    }
    .make p{
          font-size: 18px;
          line-height: 18px;
    }

    .work{
          grid-template-rows: repeat(3, 1fr);
          grid-template-columns: repeat(1, 1fr);
    }
    .work .team{
          text-align: center;
    }
    .work .t-1{
          grid-area: 1/ 1/ 2/ 2;
    }
    .work .t-2{
          grid-area: 2/ 1/ 3/ 2;
    }
    .work .t-3{
          grid-area: 3/ 1/ 4/ 2;
    }
    .work .t-4{
          display: none;
    }
    .work .t-5{
          display: none;
    }
    .work .t-6{
          display: none;
    }
    .work button{
          width: 70%;
          height: 52px;
          text-align: center;
          margin: auto;
          border-radius: 4px;
          border: 1px solid #ECE5FF;
          background: #ECE5FF;
    }

    .work button p{
          color: #7259FA;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px; /* 100% */
    }

    .info3 .we{
          width: 90%;
          text-align: center;
    }

    .info3 .we h3{
          font-size: 18px;
          line-height: 24px;
    }

    .info3 .gra{
          width: 90%;
          margin: auto;
    }

    .why{
          width: 75%;
          margin: auto;
    }
    
    .why h3{
          text-align: center;
          font-size: 22px;
          line-height: 24px;
    }

    .why p{
          padding-top: 5%;
    }

    .cust{
          text-align: center;
    }
    .cust .cost h5 p{
          font-size: 13px;
          line-height: 13px;
    }
    .cust .c-2{
          display: none;
    }
    .cust .c-3{
          display: none;
    }
    
    .blue{
          width: 100%;
          height: auto;
          padding-bottom: 5%;
          border-radius: 0%;
          margin-left: 0%;
    }

    .blue .emp{
          width: 80%;
          margin: 5% 10%;
    }
    
    .blue .emp p{
          font-size: 24px;
          line-height: 32px;
    }
    .blue .but{
          width: 100%;
          height: auto;
    }
    .blue .but button{
          width: 60%;
          height: 7%;
          margin-top: 5%;
          border-radius: 10px;
          border-style: none;
          overflow: hidden;
    }
    .blue .but button img{
          width: 100%;
          height: 100%;
    }

    .ft{
          margin: 0;
          padding: 0;
    }
    .ft .flex p{
          display: none;
    }

    .ft .flex h5{
          margin-left: 30px;
          margin-top: 10px;
    }

    .ft .flex .inst button{
          margin-top: 10px;
          margin-left: 30px;
          width: 150px;
          height: 50px;
    }
    .ft2{
          margin-top: 0px;
    }
    .ft2 .img{
          display: none;
    }

}

@media (min-width: 563px) {
    .header .menu{
          display: none;
    }

    .work button{
          display: none;
    }

    .main{
          display: flex;
    }

    .info3{
          display: flex;
    }

    .cust{
          display: flex;
    }

    .cust .cost{
          display: flex;
    }

    .blue{
          display: flex;
    }

    .ft .flex{
          display: flex;
    }

}
