*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
border: 1px solid #F0EBFA;
background: #FBFAFE;
}

/* header start */

.header{
    margin-top: 4%;
    margin: auto;
    position: relative;
}

.header ul{
    display: inline;
    padding: 2%;
}

.header ul li{
    list-style: none;
    display: inline;
}

.header .team{
    color: #1D2830;
    font-family: Josefin Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
    letter-spacing: -1.44px;
    height: 50px;
    line-height: 50px;
    margin: 50px;
    width: 30%;
}

.header .option{
    color: #35414B;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
width: 50%;
height: 50px;
line-height: 50px;
margin: 50px;
}

.header .option li{
     margin-left: 60px;
} 

.header .free{
    width: 169px;
height: 78px;
flex-shrink: 0;
border-radius: 4px;
background: #ECE5FF;
color: #794CFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 32px;
}


/* header end */

/* Info start */

.info1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.info1 .save{
    width: 108px;
height: 32px;
flex-shrink: 0;
border-radius: 100px;
background: #81C43B;
color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
}

.info1 .get{
    width: 209px;
height: 32px;
flex-shrink: 0;
border-radius: 0px 100px 100px 0px;
background: #F2F9EB;
color: #35414B;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}

.infol{
    width: 55%;
    margin: auto;
    height: auto;
color: #35414B;
text-align: center;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 72px; /* 112.5% */
}

.infos{
    width: 50%;
    margin: 30px auto;
    color: #4E5A65;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.infomail{
  text-align: center;
  margin: 40px;
}

.infomail input{
    width: 319px;
height: 52px;
flex-shrink: 0;
border-radius: 4px 0px 0px 4px;
border: 1px solid #E1E5EA;
background: #FFF;
color: #97A5B5;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}

.infomail button{
    width: 164px;
height: 52px;
flex-shrink: 0;
border-radius: 4px 4px 4px 4px;
border: 1px solid #794CFF;
background: #794CFF;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
}

.graph{
    width: 70%;
height: 500px;
margin: auto;
flex-shrink: 0;
background: lightgray 50% / cover no-repeat;
box-shadow: 0px 0px 48px -8px rgba(29, 40, 48, 0.18);
}

.graph img{
    width: 100%;
    height: 100%;
}

.info2{
    background: #FFF;
    width: 100%;
    height: 30vh;
    margin-top: 80px;
}

.info2 p{
    color: #4E5A65;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}

.info2 .google{
    justify-content: center;
    display: flex;
    gap: 5%;
    margin: auto;
}

.info2 .google img{
    width: 12%;
    height: 3%;
}

.main{
    width: 90%;
    height: auto;
    /* display: flex; */
    border: 1px solid #F0EBFA;
    background: #FBFAFE;
    margin: 5%;
}

.main .review{
    position: relative;
    width: 50%;
}

.main .review .tl{
    width: 50%;
    height: 400px;
}


.main .review .table1{
    width: 70%;
    height: auto;
    border-radius: 4px;
border: 1px solid #E1E5EA;
background: #FFF;
position: absolute;
top: 0;
left: 0;
}

.main .review .table1 h3{
    color: #4E5A65;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
}

.main .review .table1 h4{
    color: #4E5A65;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 13px; /* 100% */
margin-left: 20%;
}

.main .review .table1 p{
    color: #4E5A65;
font-family: Inter;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 11px; /* 100% */
margin-left: 20%;
}

.main .review .table1 .rv{
    width: 70%;
    height: auto;
    border-radius: 4px;
border: 1px solid #E1E5EA;
background: #FFF;
margin-left: 20%;
}

.main .review .table1 .rv p{
    color: #3B7FF6;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
text-align: justify;
}

.main .review .table2{
    width: 70%;
    height: 250px;
    border-radius: 4px;
border: 1px solid #E1E5EA;
background: #FFF;
padding-left: 10px;
position: absolute;
right: 0%;
top: 35%;
}

.main .review .table2 .silva{
    display: flex;
    gap: 15px;
}

.main .review .table2 .silva ul img{
    width: 29px;
    height: 20px;
}

.main .review .table2 .silva ul li{
    list-style: none;
}

.main .review .table2 .silva h4{
    color: #4E5A65;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 13px; /* 100% */
}

.main .review .table2 .silva p{
    color: #4E5A65;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 100% */
}

.main .review .table2 .peter{
    width: 80%;
    height: 100px;
    border-radius: 4px;
border: 1px solid #E1E5EA;
background: #FFF;
}

.main .review .table2 .peter p{
    color: #3B7FF6;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 153.846% */
text-align: justify;
}

.main .review .table2 button{
    border-radius: 4px;
    margin-top: 40px;
background: #3B7FF6;
height: 20px;
width: 70px;
border-style: none;
}

.main .review .table2 button p{
    color: #FFF;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 13px; /* 100% */
}

.main .adv{
    width: 49%;
    height: auto;
    padding-left: 8%;
}

.main .adv .ad{
    margin-top: 40px;
}

.main .adv .ad h3{
    color: #35414B;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 100% */
}

.main .adv .ad p{
    color: #4E5A65;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.make p{
    color: #35414B;
text-align: center;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 100% */
}

.work{
    width: 80%;
    height: auto;
    margin: 5% 10%;
    display: grid;
    align-items: center;
    gap: 50px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.work .team h4{
    color: #35414B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
}

.work .team p{
    color: #4E5A65;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.work .t-1{
    grid-area: 1/ 1/ 2/ 2;
}

.work .t-2{
    grid-area: 1/ 2/ 2/ 3;
}

.work .t-3{
    grid-area: 1/ 3/ 2/ 4;
}

.work .t-4{
    grid-area: 2/ 1/ 3/ 2;
}

.work .t-5{
    grid-area: 2/ 2/ 3/ 3;
}

.work .t-6{
    grid-area: 2/ 3/ 3/ 4;
}

.info3{
    height: auto;
    width: 80%;
    margin: 5% 10%;
    border: 1px solid #F0EBFA;
background: #FBFAFE;
/* display: flex; */
}

.info3 .we{
    height: auto;
    width: 45%;
    margin: 5%;
    
}

.info3 .we h3{
    color: #35414B;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 48px; /* 120% */
} 

.info3 .we p{
    color: #4E5A65;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-top: 20px;
}

.info3 .we button{
    width: 164px;
height: 35px;
border-style: none;
border-radius: 4px;
background: #796EFF;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
margin-top: 20px;
}

.info3 .gra{
    width: 55%;
    height: auto;
}

.info3 .gra img{
    height: 100%;
    width: 100%;
}

.why{
    height: auto;
    width: 40%;
    margin: auto;
}

.why h3{
    color: #35414B;
text-align: center;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 48px; /* 120% */
}

.why p{
    color: #4E5A65;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
margin-top: 20px;
}

.cust{
    /* display: flex; */
    margin: 7%;
    width: 80%;
}

.cust .cost{
    /* display: flex; */
    margin: auto;
    padding: auto;
}

.cust .cost ul li{
    list-style: none;
}

.cust .cost img{
    width: 48px;
height: 48px;
flex-shrink: 0;
}

.cust .cost h5{
    color: #4E5A65;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 100% */
}

.cust .cost p{
    color: #4E5A65;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}

.blue{
    width: 80%;
    height: 150px;
    margin: 5% 10%;
    border-radius: 16px;
background: #796EFF;
/* display: flex; */
}

.blue .emp{
    width: 50%;
    height: auto;
    text-align: center;
    padding-top: 20px;
}

.blue .emp p{
    color: #FFF;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 48px; /* 150% */
}

.blue .but{
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
}

.blue .but button{
    width: 25%;
    height: 10%;
}

.blue .but button img{
    width: 100%;
    height: 100%;
}

.ft{
    width: 100%;
    height: auto;
    background: #1D2830;
    margin-top: 3%;
}

.ft .flex h5{
    color: #FFF;
font-feature-settings: 'salt' on, 'liga' off;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 100% */
}

.ft .flex .comp{
    /* padding-left: 8%; */
    margin: 30px 5%;
    width: 25%;
}

.ft .flex p{
    padding-top: 5%;
    color: #FFF;
font-feature-settings: 'salt' on, 'liga' off;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}

.ft .flex .inst{
    margin: 30px 5%;
    width: 25%;
}

.ft .flex .inst ul li{
    list-style: none;
}

.ft .flex .inst button{
    margin-top: 10px;  
    height: 28%;
    width: 70%;
    border-style: none;
}

.ft .flex .inst button img{
   height: 100%;
   width: 100%;
}

.ft2{
    width: 100%;
    height: auto;
    background: #1D2830;
    /* margin-top: 2px; */
    display: flex;
}

.ft2 ul{
    list-style: none;
}

.ft2 .copy{
    margin: 10px;
    margin-left: 40px;
}

.ft2 p{
    color: var(--Text-Gray-300, #D9DBE1);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
/* 100% */
}

.ft2 .img{
    margin-left: 65%;
    margin-top: 10px;
}

.ft2 img{
  height: 20px;
  width: 20px;
  margin-left: 20px;
}