@media(max-width:500px){
    .header{
        display: none;
    }
    .header button {
        display: block;
    }
    .card-cotainer{
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: 1fr;
    }
}