
/*Horizontal Menu1 start */

.menubar1 {
  height: 5vh;
  text-align: center;
background-color: rgb(43, 42, 42);
position: relative;

}
.menubar1 a{
  margin-left: 1%;
  color: rgb(134, 132, 132);
  font-weight: 100;
  font-size: x-large;
  text-decoration: none;
}

/* Horizontal Menu1 end */

/* Horizontal Menu2 start */

/* logo */

.logo {
  background-color: black;
  font-size: xx-large;
  position: relative;
  height: 25vh;
}
.logo span{
  display: flex;
  left: 20%;
}
.logo i{
  position: absolute;
  left: 7%;
  top: 25%;
}
.logo p{
margin-left: 10%;
  display: flex;
  color: white;
  -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
  
}
#name{
  position: absolute;
  top: 3%;
  left: 10%;
  -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
}

/* buttons */


.button{
  width: 2%;
  position: absolute;
  top: 73%;
  left: 43%;
  display: flex;
}
.button button {
  border-radius: 8px;
  margin-left: 40%;
  padding: 20%;
  width: 40em;
  font-size: medium;
  font-size: x-large;
  background-color: rgb(199, 197, 197);
}
.button a{
  text-decoration: none;
  color: black;
}
/* search */

.search i{
  height: 30px;
  padding: 4px;
  border-radius: 5px;
  text-align: center;
  width: 50px;
color: aliceblue;
background-color: blueviolet;
position: absolute;
left: 70%;
top: 10%;
}
.search input{
  height: 40px;
  position: absolute;
  top: 09%;
  left: 74.1%;
  border-radius: 8px;
  text-align: center;
  font-size: x-large;
}
/* Horizontal Menu2 end */

/* hover serives start */

/* div 1  */
.moreService{
  background-image: url("https://img.freepik.com/free-vector/paper-style-wavy-red-background_52683-74121.jpg");
  border: 2px solid rgb(136, 0, 0);
  width: 20vw;
  position: absolute;
  top: 35%;
  left: 2%;
  color: white;
  border-radius: 5px;
  box-shadow: 06px -2px 4px 4px rgb(36, 36, 36);
  display: none;
}
.service{
  height: 35vh;
  background-color: darkorange;
  padding: 0%;
  text-align: center;
}
.title b{
  justify-content: center;
  color: rgb(71, 245, 71);
  display: flex;
  font-size: x-large;
}

/* div 2 */
.content{
  font-size: large;
  width: 60vw;
  position: absolute;
  left: 150%;
  top: -5%;
  text-align: start;
  color: white;}

.button button:nth-child(1):hover .service .moreService{
background-color: red;
}


.logoDetail{
  background-image: url("https://t3.ftcdn.net/jpg/07/63/19/20/360_F_763192058_OwpbVmScdHSmmQbl4m5HsoiFtxl7e8Dx.jpg");
  border: 2px solid rgb(136, 0, 0);
  width: 40%;
  height: 30%;
  position: absolute;
  top: 34%;
  left: 28%;
  color: white;
  border-radius: 5px;
  background-position: center;
  background-size: 500px 250px;
  box-shadow: 06px -2px 4px 4px rgb(36, 36, 36);
  display: none;
}

.title i{
  height: 800%;
  justify-content: center;
}

.bannerDetail{
  background-image: url("https://www.shutterstock.com/image-photo/reduce-reuse-recycle-symbol-on-260nw-2348791321.jpg");
  border: 2px solid rgb(136, 0, 0);
  width: 40%;
  height: 30%;
  position: absolute;
  top: 34%;
  left: 28%;
  color: white;
  border-radius: 5px;
  background-position: center;
  background-size: 500px 250px;
  box-shadow: 06px -2px 4px 4px rgb(36, 36, 36);
  display: none;
}


.flayer{
  font-size: large;
  width: 60vw;
  position: absolute;
  left: 10%;
  top: 30%;
  text-align: start;
  display: none;
  color: white;}
  
/* hover serivce start */

/* containt start */

.site{
  width: 55vw;
  height: 100vh;
  /* border: 2px solid red; */
  position: absolute;
}
.site h1{
  text-decoration: underline;
}

.banner{
  background-color: darkorange;
  width: 40vw;
  height: 95vh;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}
.project{
  position: absolute;
  left: 58%;
  top: 65%;
  margin: 0;
  padding: 0;
}
.img1 img{
  width: 60%;
  height: 50vh;
  position: absolute;
  left: 20%;
}

.img2 h3{
  position: absolute;
top: 65%;

}
.img2 img{
  height: 30vh;
  width: 90%;
  position: absolute;
  left: 10%;
top: 72%;
}

/* containt end */

/* footer start */
.footer{
  width: 98vw;
  height: 20vh;
  background-color: rgb(73, 71, 71);
  position: absolute  ;
  text-align: center;
  top: 175%;
  font-size: x-large;
  color: rgb(167, 166, 166);
}
.link a{
  margin-left: 1%;
  color: rgb(167, 166, 166);
  font-weight: 100;
  text-decoration: none;
}
.link2{
  position: absolute;
  top: 16%;
  left: 9%;
  width: 80vw;
}
.link2 a{
  margin-left: 1%;
  color: rgb(167, 166, 166);
  font-weight: 100;
  text-decoration: none;
  margin-top: 0;
}
.text{
  font-size: medium;
  position: absolute;
  top: 49%;
  width: 40vw;
  left: 30%;
}
/* footer end */
