*{
  font-family: Papyrus, fantasy;

}
/* header start */
.header{
  position: relative;
  background-color: blanchedalmond;
  color: orange;
  text-align: center;
  padding: 2px;
  margin: 50px;
font-size: xx-large;
  margin-top: 20px;
  font-family: Papyrus, fantasy;
}
.title{
  text-shadow:5px 4px 5px cornflowerblue;
}
.title h1{
  margin-bottom: 0;
}
.menubar1{
  background-color: orange;
}
.menubar1 a{
  text-decoration: none;
  padding: 30px;
  font-size: x-large;
  color: green;
  font-weight: 700;
}
/* header end */
/* content start */
.mainContent{
  top: 55%;
  width: 90vw;
  height: fit-content;
  position: absolute;
  margin: 50px;
  margin-top: 0px;
  background-color: rgb(252, 202, 78);
  display: flex;
}
.description h1{
  margin-left: 50px;
  margin-bottom: 0px;
}
hr{
  border: 0;
  width: 90%;
  height: 3px;
  background-image: linear-gradient(to right, rgba(4, 139, 34, 0.75), rgba(89, 230, 34, 0.75), rgba(2, 150, 64, 0));
  margin-left: 40px;  
}
.text{
  /* display: flex; */
}
.text button{
  display: flex;
  margin-left: 20px;
  text-align: center;
}
#ch1{
position: absolute;
left: 20%;}
.banner{
  text-align: center;
  width: 30%;
  position: absolute;
  margin-top: 5px;
  margin-right: 5px;
  left: 69%;
  border: 2px solid lightgreen;
  border-radius: 8px;
  box-shadow: 5px 5px 10px lightgreen;
  animation: mymove 5s infinite;

}

@keyframes mymove {
  50% {box-shadow: 10px 20px 30px orange;}
}
.banner img{
  width: fit-content;
  height: fit-content;
}
/* content end */
/* footer start */
.footer{
  color: white;
  position: absolute;
  background-color: black;
  width: 90vw;
  top: 129vh;
  margin: 50px;
  text-align: center;
}
.link a{
  text-decoration: none;
  font-size: large;
  color: whitesmoke;
  font-weight: 400;
  padding: 10px;
}