*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Papyrus, fantasy;

}
/* header start */
.header{
  position: relative;
  background-color: black;
  text-align: start;
  margin: 50px;
  margin-top: 20px;
  font-family: Papyrus, fantasy;
  display: flex;
  border: 2px solid;
  padding: 5px;
  margin-bottom: 3px;
}
.title{
  color: white;
  text-shadow:5px 4px 5px cornflowerblue;
  border: 2px solid ;
  border-radius: 5px;
  box-shadow: 5px 5px 10px cornflowerblue;
  margin-left: 5px;
}
.title h1{
  margin-bottom: 0;
  margin: 30px;
}
.title h3{
  text-align: center;
}
.menubar1{
  border: 2px solid ;
  border-radius: 5px;
  box-shadow: 5px 5px 10px cornflowerblue;
  background-color: black;
  position: absolute;
  top: 30%;
  left: 45%;

}
.menubar1 a{
  text-decoration: none;
  padding: 30px;
  font-size: x-large;
  color: white;
  font-weight: 700;
}
/* header end */
/* slider start */
.sliderContainer {
  position: relative;
  width: 93%;
  height: 90vh;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 0px;
}

.sliderContainer img:first-child {
  position: relative;
  width: 100%;
  left: 0%;
  top: 0;
}

img {
  position: absolute;
  width: 100%;
  left: -100%;
  top: 0;
}

/* slider end */

/* content start */
/* card */

  /* content end */
/* footer start */
.footer{
  color: white;
  position: absolute;
  background-color: black;
  width: 90vw;
  top: 200vh;
  margin: 50px;
  text-align: center;
}
.link a{
  text-decoration: none;
  font-size: large;
  color: whitesmoke;
  font-weight: 400;
  padding: 10px;
}