*{
  box-sizing: border-box;
  font-family: Papyrus, fantasy;

}
/* header start */
.header{
  position: relative;
  background-color: blanchedalmond;
  text-align: start;
  margin: 50px;
  margin-top: 20px;
  font-family: Papyrus, fantasy;
  display: flex;
  border: 2px solid;
  padding: 5px;
  margin-bottom: 3px;
}
.title{
  text-shadow:5px 4px 5px cornflowerblue;
  border: 2px solid ;
  border-radius: 5px;
  box-shadow: 5px 5px 10px cornflowerblue;
  margin-left: 5px;
}
.title h1{
  margin-bottom: 0;
  margin: 30px;
}
.title h3{
  text-align: center;
}
.menubar1{
  border: 2px solid ;
  border-radius: 5px;
  box-shadow: 5px 5px 10px cornflowerblue;
  background-color: blanchedalmond;
  position: absolute;
  top: 30%;
  left: 45%;

}
.menubar1 a{
  text-decoration: none;
  padding: 30px;
  font-size: x-large;
  color: black;
  font-weight: 700;
}
/* header end */
/* slider start */
.sliderContainer {
  position: relative;
  /* display: none; */
  width: 93%;
  height: 90vh;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 0px;
}

.sliderContainer img:first-child {
  position: relative;
  width: 100%;
  left: 0%;
  top: 0;
}

img {
  position: absolute;
  width: 100%;
  left: -100%;
  top: 0;
}

.nextCircle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 95%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
}

.next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: orange;
  z-index: 20;
  background-color: black;

}

.nextCircle:hover {
  opacity: 1;
  cursor: pointer;
}

.fa.fa-arrow-right,
.fa.fa-arrow-left {
  font-size: 30px;
}

.prevCircle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 95%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
}

.previous {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: orange;
  z-index: 20;
}

.prevCircle:hover {
  opacity: 1;
  cursor: pointer;
}
/* slider end */

/* content start */
/* card */

  /* content end */
/* footer start */
.footer{
  color: white;
  position: absolute;
  background-color: black;
  width: 90vw;
  top: 200vh;
  margin: 50px;
  text-align: center;
}
.link a{
  text-decoration: none;
  font-size: large;
  color: whitesmoke;
  font-weight: 400;
  padding: 10px;
}