*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1510519138101-570d1dca3d66?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMG9mZmljZXxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding-top: 7%;
    font-size: x-large;
    opacity: 0.9;
}

.main h2{
    text-align: center;
    color: white;
}

.main h4{
    text-align: center;
    font-size: 10px;
    color: white;
    padding-top: 1%;
    font-size: large;
}

.main svg{
    position: absolute;
    bottom: 0;
}

button{
    height: 10%;
    width: 06%;
    border: 2px solid orangered;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
  
}

button img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.item-i1{
    left: 20%;
    top: 58%;
}

.item-i2{
    left: 40%;
    top: 73%;
}

.item-i3{
    left: 64%;
    top: 87%;
}

.item-i4{
    left: 87%;
    top: 70%;
}
.text{
    text-align: center;
}
#i1 {
    padding: 20px;
    display: none;
    position: absolute;
    top: 65%;
    left: 15%;
    color: wheat;
}
.item-i1:hover + #i1 {
    display: block;
    
  }

.item-i2:hover + #i2{
    display: block;
}
#i2 {
    padding: 10px;
    display: none;
    position: absolute;
    top: 81%;
    left: 30%;
    color: wheat;
}
#i3 {
    padding: 10px;
    display: none;
    position: absolute;
    top: 89%;
    left: 52%;
    color: wheat;
}
.item-i3:hover + #i3{
    display: block;
}
#i4 {
    padding: 10px;
    display: none;
    position: absolute;
    top: 81%;
    left: 81%;
    color: wheat;
}
.item-i4:hover + #i4{
    display: block;
}